<div class="menu-bg" data-hc-bind="click:$dismiss" data-hc-id="{{id}}">
  <div class="menu-container">
    <a href="javascript:void(0)" data-hc-bind="click:$languageMenu" data-hc-id="{{id}}">
      <i class="material-icons">&#xE894;</i><span>{{__ 'button-language'}}</span>
    </a>
    <a href="javascript:void(0)" data-hc-bind="click:$newDocument" data-hc-id="{{id}}">
      <i class="material-icons">&#xE148;</i><span>{{__ 'button-newDocument'}}</span>
    </a>
    <a href="javascript:void(0)" data-hc-bind="click:$upload" data-hc-id="{{id}}">
      <i class="material-icons">&#xE2C6;</i><span>{{__ 'button-upload'}}</span>
    </a>
    <a href="javascript:void(0)" data-hc-bind="click:$downloadYaml">
      <i class="material-icons">&#xE2C4;</i><span>{{__ 'button-downloadScaffoldYaml'}}</span>
    </a>
    <a href="javascript:void(0)" data-hc-bind="click:$about" data-hc-id="{{id}}">
      <i class="material-icons">&#xE88E;</i><span>{{__ 'button-about'}}</span>
    </a>
  </div>
</div>
